.reviews {
  border: 1px solid indigo;
  bottom: 5px;
  margin-left: 1%;
  max-height: 400px;
  position: inherit;
  width: 20%;
  overflow-y: scroll;
}

.text {
  text-align: left;
}

.box {
  max-height: 120px;
  overflow-y: scroll;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  color: indigo !important;
}

.css-zpi1hu {
  font-size: 0.8rem !important;
  line-height: 1px !important;
}

.css-heg063-MuiTabs-flexContainer {
  background-color: rgba(128, 128, 128, 0.472) !important;
}

.MuiCardContent-root {
  padding: 16px 16px 5px !important;
}
